<!-- <p>articlevente works!</p> -->

<!-- <div class="text-center position-absolute w-100 h-100 bg-secondary-emphasis d-flex justify-content-center align-items-center" [ngClass]="{'d-none' : spinner}">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div> -->

<div class="w-100 fs-4 ">

    <div class="w-100">
        <!-- <app-formvente></app-formvente> -->
        <app-formvente [allCategories] = "allCategories"  [categories] = "categories" [articlesConfections] = "articlesConfections" (newArticle)="addArticle($event)"></app-formvente>
    </div>
    <div>

        <app-listevente [links] = "links" (otherPage) = "changePage($event)" [articles] = "articles" (idForDelete)="delete($event)" (articleToSend)="updateArticle($event)"></app-listevente>


    </div>


</div>