<!-- <p>articlevente works!</p> -->

<div class="w-100 fs-4 ">

    <div class="w-100">
        <!-- <app-formvente></app-formvente> -->
        <app-formvente></app-formvente>
    </div>
    <div>

        <div class="">
            <h5 class="text-decoration-underline">Liste des articles de ventes <span class=""><i
                        class="bi bi-plus-circle"></i></span> </h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Libelle</th>
                        <th scope="col">Quantite</th>
                        <th scope="col">Articles de confections</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>


    </div>


</div>