<form class="w-100 border border-3 p-2" [formGroup]="registerFormForSell" (ngSubmit)="onSubmitForm()">
    <div class="w-100 d-flex">
        <!-- lib -->
        <div class="w-75 ">
            <div class="w-100 d-flex justify-content-center align-items-center">
                <div class="w-100 h-25 d-flex flex-column justify-content-center align-items-center">
                    <div class="col">
                        <label for="libelle">Libelle</label>
                        <input type="text" class="form-control" id="libelle" formControlName="libelle"
                            [ngClass]="{'is-invalid' : registerFormForSell.get('libelle')?.invalid && (registerFormForSell.get('libelle')?.touched || registerFormForSell.get('libelle')?.dirty) }"
                            (input)="getReference($event)">
                        <div class="invalid-feedback">
                            <span
                                *ngIf="registerFormForSell.get('libelle')?.hasError('minlength') && (registerFormForSell.get('libelle')?.touched || registerFormForSell.get('libelle')?.dirty)"
                                class="text-danger">
                                Le libelle doit contenir au moins trois caracteres
                            </span>
                            <span
                                *ngIf="registerFormForSell.get('libelle')?.hasError('required') && (registerFormForSell.get('libelle')?.touched || registerFormForSell.get('libelle')?.dirty)"
                                class="text-danger ">
                                Le champs libelle est obligatoire
                            </span>


                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <label for="promo">promo</label>
                        <input type="checkbox" name="" id="promo" class="ms-1" (change)="promoOrNone($event)"
                            [checked]="+promoInput.value !== 0">
                    </div>
                </div>
                <div class="h-25 d-flex flex-column justify-content-start align-items-start">
                    <div class="mt-2">
                        <label for="categorie">Categorie</label>
                        <select name="" id="categorie" class="form-select" formControlName="categorie"
                            [compareWith]="compareWith"  [ngClass]="{'is-invalid' : (registerFormForSell.get('categorie')!.touched || registerFormForSell.get('categorie')!.dirty) && !registerFormForSell.get('categorie')!.valid}" >
                            <option value="">Choose...</option>
                            <option *ngFor="let categorie of categories" [ngValue]='categorie'>{{categorie.libelle}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            <span
                                *ngIf="registerFormForSell.get('categorie')?.hasError('required') && (registerFormForSell.get('categorie')?.touched || registerFormForSell.get('categorie')?.dirty)"
                                class="text-danger position-absolute">
                                Vous devez choisir au moins une categorie
                            </span>
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-start align-items-center mt-1 invisible"
                        [ngClass]="{'invisible' : !promo && +promoInput.value === 0 }">
                        <label for="valeurProme">Valeur</label>
                        <input type="number" class="form-control w-50" min="0" #promoInput formControlName="promo"
                            [ngClass]="{'is-invalid' : (registerFormForSell.get('promo')!.touched || registerFormForSell.get('promo')!.dirty) && !registerFormForSell.get('promo')!.valid}">
                        <div class="invalid-feedback">
                            <span *ngIf="registerFormForSell.get('promo')?.hasError('valmin')">La valeur du promo doit
                                etre compris entre 0 et 100</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <h5 class="text-decoration-underline">Liste des articles de confections <span class=""
                        (click)="addConfection()"><i class="bi bi-plus-circle"></i></span> </h5>
                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col">Libelle</th>
                            <th scope="col">quantite</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="confection_by_vente"  [ngClass]="{'is-invalid' : (registerFormForSell.get('confection_by_vente')!.touched || registerFormForSell.get('confection_by_vente')!.dirty) && !registerFormForSell.get('confection_by_vente')!.valid}">
                        <tr *ngFor="let confec of confection_by_vente.controls; let i = index" [formGroupName]="i">
                            <th scope="row"> <input type="text" (input)="searchArticleConfection($event, i)"
                                    formControlName="libelle_article" class="form-control w-50"></th>
                            <td class="position-relative">
                                <input type="number" name="" id="" formControlName="quantite_necessaire" min="1"
                                    class="form-control w-50" (input)="calculPrixConfection(i, $event)"
                                    [ngClass]="{'is-invalid' : confection_by_vente.get('libelle')?.invalid && (confection_by_vente.get('libelle')?.touched || confection_by_vente.get('libelle')?.dirty)}">
                                <div class="invalid-feedback">
                                    <span
                                        *ngIf="confection_by_vente.get('quantite_necessaire')?.hasError('min') && (confection_by_vente.get('quantite_necessaire')?.touched || confection_by_vente.get('quantite_necessaire')?.dirty)">
                                        la quantie doit ete superieur ou egale à 0 </span>
                                </div>
                            </td>

                            <td>
                                <input type="hidden" name="" formControlName="article_id">
                                <input type="hidden" name="" formControlName="categorie">
                                <i class="bi bi-x-octagon" (click)="removeSkill(i)"> </i>
                            </td>

                        </tr>
                    </tbody>

                    <div class="invalid-feedback">
                        <span
                            *ngIf="registerFormForSell.get('confection_by_vente')?.hasError('lengthCategorie') && (registerFormForSell.get('confection_by_vente')?.touched || registerFormForSell.get('confection_by_vente')?.dirty)"
                            class="text-danger">
                            Vous devez avoir obligatoirement avoir des categoriees de type tissu, bouton et fils
                        </span>
                        <span
                            *ngIf="registerFormForSell.get('confection_by_vente')?.hasError('minCategorieConfectionRequired') && (registerFormForSell.get('confection_by_vente')?.touched || registerFormForSell.get('confection_by_vente')?.dirty)"
                            class="text-danger ">
                            Veuillez selectionner au moins trois articles de confections
                        </span>

                        <span
                            *ngIf="registerFormForSell.get('confection_by_vente')?.hasError('minimumConfection') && (registerFormForSell.get('confection_by_vente')?.touched || registerFormForSell.get('confection_by_vente')?.dirty)"
                            class="text-danger ">
                            Veuillez selectionner au moins un article de categorie tissu , un autre de categorie bouton
                            et
                            un de categorie fils
                        </span>
                        <span
                            *ngIf="registerFormForSell.get('confection_by_vente')?.hasError('minCategorieConfectionchoose') && (registerFormForSell.get('confection_by_vente')?.touched || registerFormForSell.get('confection_by_vente')?.dirty)"
                            class="text-danger ">
                            Veuillez selectionner au moins un article de categorie tissu , un autre de categorie bouton
                            et
                            un de categorie fils
                        </span>




                    </div>
                </table>

                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true" *ngFor="let serach of articleSearched"
                        (click)="selectedArticleConfectionLi($event)" id="{{serach.id}}"> {{serach.libelle}}</li>

                </ul>

            </div>
        </div>
        <!-- ----photo -->
        <div class="w-25 h-75 p-3">
            <div class="w-100 h-75 d-flex justify-content-center align-items-center flex-column">
                <label for="file" class="w-100 d-flex justify-content-center align-items-center "><img src="{{image}}"
                        class="img-thumbnail w-25" alt="..."></label>
                <input type="file" [hidden]="true" id="file" accept=".jpeg, .jpg, .png" (change)="chargeImage($event)">
            </div>
            <div class="w-100 d-flex justify-content-center align-items-center h-25 flex-column">
                <label for="reference text-uppercase">Reference</label>
                <input type="text" class="form-control w-75" readonly formControlName="reference"
                    value="{{referenceAttribut}}">
            </div>

        </div>
    </div>
    <!-- -------------------btnsave ------------------------------------------------------------------------------------------>
    <div class="w-100 d-flex justify-content-between align-items-center">
        <div>
            <div class="w-100 d-flex">
                <div class="d-flex justify-content-center align-items-center">
                    <label for="">Cout de fabrication</label>
                    <input type="text" name="" id="" class="form-control" readonly formControlName="prix_confection">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <label for="">Marge</label>
                    <input type="number" name="" id="" class="form-control" formControlName="marge"
                        (input)="changeMarge()"
                        [ngClass]="{'is-invalid' : (registerFormForSell.get('marge')!.touched || registerFormForSell.get('marge')!.dirty) && !registerFormForSell.get('marge')!.valid}">
                    <div class="invalid-feedback">
                        <span *ngIf="registerFormForSell.get('marge')?.hasError('valmin')">La marge doit etre superieur
                            à 5000</span>
                    </div>
                </div>

            </div>
            <div class="w-25 d-flex justify-content-center align-items-center">
                <label for="">Prix de vente</label>
                <input type="text" readonly class="form-control" formControlName="prix_vente">
            </div>

        </div>
        <button type="submit" class="btn btn-success p-1 fs-3" [disabled]="!registerFormForSell.valid">Save</button>
    </div>
</form>